body {
  margin: 0;
  font-family: "Karma", serif;
  background-color: #eaf4d3;
}

.App {
  text-align: center;
  color: #994636;
}
h3 {
  font-family: "Neuton", serif;
}
h1 {
  font-family: "Neuton", serif;
  border-bottom: 2px solid rgb(153, 70, 54, 0.5);
  padding-bottom: 20px;
}
.article--block {
  list-style: none;
  border: 1px solid rgb(153, 70, 54);
  width: 95%;
}

.article--information {
  text-align: center;
  display: grid;
}

.single--article {
  display: block;
}

.single--article > h2 {
  font-family: "Stoke", serif;
  margin-top: 5px;
}

.single--article--information {
  text-align: left;
  margin-left: 10px;
  line-height: 3px;
}

.article--body {
  margin: 40px 20px 40px 20px;
}
