body {
  margin: 0;
  font-family: "Karma", serif;
  background-color: #eaf4d3;
}

.App {
  text-align: center;
  color: #994636;
}

h3 {
  font-family: "Neuton", serif;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  border-bottom: 2px solid rgb(153, 70, 54, 0.5);
  margin-bottom: 40px;
}

.header > h1 {
  font-family: "Neuton", serif;
  border-bottom: 2px solid rgb(153, 70, 54, 0.3);
}

.nav--topics {
  margin-left: 20px;
}

.avatar {
  height: 100%;
  width: 50px;
}

.account--details {
  display: flex;
}

.avatar--circle {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgb(153, 70, 54);
  margin: auto 0 auto 20px;
}

.article--block {
  list-style: none;
  border: 1px solid rgb(153, 70, 54);
  width: 500px;
  height: 150px;
  background-color: #eaf4d3;
}

.fill--article--block {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.article--information {
  text-align: center;
  display: grid;
}

.single--article {
  display: block;
}

.single--article > h2 {
  font-family: "Stoke", serif;
  margin-top: 50px;
  text-decoration: underline;
}

.single--article--information {
  text-align: left;
  line-height: 10px;
  margin: 10px auto 15px 10px;
  padding: 10px;
}

.article--body {
  max-width: 900px;
  text-align: left;
  margin: 5px auto 60px auto;
  padding-left: 10px;
  padding-right: 10px;
}

.comment--block {
  list-style: none;
  border: 1px solid rgb(153, 70, 54);
  width: 95%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 15px;
}

.comment--list {
  display: flex;
  flex-direction: column-reverse;
}

.topic--list--block {
  list-style: none;
}

.topic--block {
  list-style: none;
}
